@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Rubik+Pixels&family=Turret+Road:wght@200;300;400;500;700;800&family=VT323&display=swap");
  
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Oswald;
  font-style: bold;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
}
  
@theme {
  --font-display: "Oswald", "sans-serif";
}

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
  .hover-icon {
    @apply h-16 w-16 fill-orange-700 lg:hover:fill-orange-300 duration-300 animate-fade3;
  }
}
